#devis {
    /* position: relative; */
    background: url(../Styling/img/bovin/sun_rise.webp);
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.trensparent-bg{
    background-color: rgba(0, 0, 0, 0.4);
}

#devis .primary-overlay {
    background: rgba(3, 3, 3, 0.5);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#devisContact {
    background-color: #FEF5EA;
    border-radius: 10px;
    width: 100%;
    /* padding: 30px; */
    /* height: 100%; */
}

.iconDevis {
    color: #E75D0E;
    background-color: white;
    border-radius: 50%;
    font-size: large;
    padding: 15px;
    width: 55px;
    /* height: 65px; */
}

.titleDevisContact {
    /* font-family: Roboto; */
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;

}

.devisTitle {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
    text-align: center;
    margin: 30px;

}

.contentDevisContact {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;

}

.devisRowStart{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.devisColStart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.w100 {
    width: 100%;
}

#devis input, .inputCredentials{
    
font-size: 15px !important;
font-weight: 400 !important;
line-height: 17.58px;
text-align: left;

}

#devis option, select{
    
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 17.58px;
    text-align: left;
    font-family:'Roboto' ;
    
    }

textarea{
    
font-size: 15px !important;
font-weight: 400 !important;
line-height: 17.58px;
text-align: left;

}

@media (max-width:600px) {
    .devisTitle {
        font-size: 16px;
        line-height: 18.75px;
    }


    .titleDevisContact {

        font-size: 15px;
        font-weight: 500;



    }

    .contentDevisContact {
        font-size: 13px;

    }

    #devisContact{
        width: 100%;
        margin-left: 0px;
    }

    .iconDevis {
        color: #E75D0E;
        background-color: white;
        border-radius: 50%;
        /* font-size: large; */
        padding: 15px;
        width: 55px;
        /* height: 50px; */
    }
    .rmPadding{
        padding-inline: 0px !important;
        border-radius: 0px;
    }
#devis input, .inputCredentials {
    height: 35px !important;
    border-radius: 5px !important;
}

}